/*
    color: #00084E; azul oscuro  
    color: #10108C; azul
    color: #FFCE00; amarillo
    color: #FFFFFF; blanco texto
    color: #000000; negro
    color: #DF000F; rojo
*/

/*fonts*/

.lato-14-cuerpo {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 14px;
}
.lato-24-titulo {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 24px;
}
.lato-32-titulo {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 32px;
}
.lato-14-bold {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/*nav styles begin*/

.navbar {
  background-color: #10108c;
}

.navbar .navbar-brand img {
  max-width: 150px;
}

.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
  right: 0;
}

.navbar-nav .disabled {
  cursor: default;
  color: #ffffff;
}

.btn-outline-light {
  height: 31px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 31px;
}

.nav-link:hover,
.dropdown-item:hover {
  color: #ffce00;
}

.nav-link:hover,
.dropdown-item:hover {
  color: #ffce00;
}

.btn-outline-light:hover {
  background-color: #ffce00;
}

#navbarDropdownMenuLink:hover svg path {
  fill: #ffce00;
}

.zero-padding-right-left {
  padding-right: 0;
  padding-left: 0;
}

.zero-margin-right-left {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 415px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .nav-item {
    margin-bottom: 0.5rem;
  }
  .navbar-nav .nav-link {
    display: flex;
    padding-left: 0px;
  }
}

@media (max-width: 868px) {
  .navbar-nav .nav-link.disabled {
    display: none;
  }

  .row.navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-link {
    display: block;
    text-align: center;
    padding-left: 16px;
  }
  .btn-registrarse {
    margin-top: 1rem;
  }
}

/*nav styles end*/

/*footer styles begin*/
footer {
  background-color: #00084e;
  color: #ffffff;
}

.line-about-us-footer {
  border-top: 5px solid white;
  width: 30%;
  margin-top: 10px;
}

.btn-social {
  background-color: #ffffff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 37.14px;
  width: 47.36px;
  margin: 0px 11.5px;
  padding: 0px 0px;
}

.btn-android {
  background-color: #ffffff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 37.36px;
  width: 188.16px;
}

.btn-credit-cards {
  background-color: #ffffff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 37.36px;
  width: 68.14px;
  padding: 0px 0px;
  margin: 0px 11.5px;
}

.btn-credit-cards img {
  width: auto;
  height: 37.14px;
}

.footer-sponsors img {
  max-width: 718.08px;
}

@media (max-width: 768px) {
  .footer-sponsors img {
    max-width: 218.08px;
  }

  .footer-sponsors #secondary-sponsors img {
    max-width: 78.08px;
  }
}

footer a:hover svg path {
  fill: #ffce00;
}

#social-btn-android:hover {
  color: #ffce00;
}

.btn-credit-cards img {
  max-width: 78.14px;
}

.btn-credit-cards:hover img {
  filter: brightness(0) saturate(100%) invert(65%) sepia(92%) saturate(339%)
    hue-rotate(1deg) brightness(102%) contrast(124%);
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffce00;
  text-decoration: none;
}

/*footer styles end*/

/*header styles begin*/

header {
  background-color: #00084e;
  padding: 10px;
}

#container-headerCarousel {
  padding: 20px;
  margin: 0;
  border: #ffce00 1px solid;
  border-radius: 8px;
}

#headerCarousel img {
  border-radius: 8px;
}

.carousel-indicators {
  position: absolute;
  bottom: -15px;
  left: 0%;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  margin: 0px 8px;
  padding: 0;
  border-radius: 50%;
  background-color: #ffffff;
}

.carousel-indicators li:hover {
  background-color: #ffce00;
}

@media (max-width: 768px) {
  .carousel-indicators li {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 425px) {
  .carousel-indicators li {
    display: none;
  }
}

@media (min-width: 426px) {
  .carousel-control-prev {
    display: none;
  }

  
}

@media (min-width: 426px) {
  .carousel-control-next {
    display: none;
  }
}

/*header styles end*/
