*{
    background-color: #00084E;
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif; /* Asegúrate de que el nombre de la fuente sea correcto */
    font-weight: 700; /* Montserrat Bold tiene un peso de fuente de 700 */
    font-size: 24px;
}
label{
    background-color: #FAFAFA;
}

option{
    background-color: #FAFAFA;
}
.container{
    padding: 0px;
}
.button{
    border-radius: 8px;
    background-color: #10108C;
    color: #FFCE00;
    border: 0px;
    font-family: 'Montserrat', sans-serif; /* Asegúrate de que el nombre de la fuente sea correcto */
    font-weight: 700; /* Montserrat Bold tiene un peso de fuente de 700 */
    font-size: 16px;

    padding: 12px 34px;
}

.form-control {
    width: 100%;
    border: 0px;
    border-bottom: #00084E solid 1px;
    margin-top: 27px;
    margin-bottom: 27px;

}
.form-control::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;


}
.form-group {
    background-color: #FAFAFA;

}


.imagen-header{
    border-radius: 10px;
    
    max-width: 40%;
    padding: 10px;
    margin: 10px 0px;
    max-height: fit-content;
}


@media (max-width: 1024px) {
    .form-login{
        background-color: #FAFAFA;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media (min-width: 1024px) {
    .form-login{

        margin-left: 31%;
        margin-right: 31%;
        background-color: #FAFAFA;
        padding-left: 10%;
        padding-right: 10%;
    }
}